body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
// h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul{ list-style:none; }
a, *[href] { text-decoration:none; cursor: pointer; color: #333;}
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
// body {
//     font-family: '楷体', Arial;
// }

@navbarH: 86px;     // 导航条高度

@family: 'Helvetica Neue', Helvetica, "Hiragino Sans GB", /*"PMingLiU",*/ "Microsoft YaHei", "SimSun", Arial, Sans-serif;

@init: #666;
@green: #4bc0a5;
@greenlight: #6cdebe;
@red: #ea3434;
@blue: #0087ca;
@orange: #ffb300;
@orangelight: #ffbe29;
@white: #ffffff;
@yellow: #fdfd90;
@black: #3F495B;
@pale: #f6f9f9;
@gray: #cacaca;

.border(bottom, @rest...) {
  border-bottom: @rest;
}
.bg(@color) {
  background-color: @color;
}
.text(@color) {
  color: @color;
}
.hover-init(@color) {
  &:hover {
    text-decoration: none;
    color: @color;
  }
}
.shadow-wrap(@color) {
  @x: 2px;
  @y: 2px;
  @m: 4px;
  @clr: fade(@color, 40%);
  box-shadow: @x @y @m @clr, -@x -@y @m @clr, @x -@y @m @clr, -@x @y @m @clr;
}


.bg-green {
  .bg(@green);
}
.bg-greenlight {
  .bg(@greenlight);
}
.bg-white {
  .bg(@white);
}
.bg-black {
  .bg(@black);
}
.bg-orange {
  .bg(@orange);
}
.bg-orangelight {
  .bg(@orangelight);
}
.bg-red {
  .bg(@red);
}
.bg-pale {
  .bg(@pale);
}
.bg-gray {
  .bg(@gray);
}

.text-green {
  .text(@green);
}
.text-init {
  .text(@init);
}
.text-red {
  .text(@red);
}
.text-blue {
  .text(@blue);
}
.text-orange {
  .text(@orange);
}
.text-yellow {
  .text(@yellow);
}
.text-white {
  .text(@white);
}
.text-gray {
  .text(@gray);
}

.font-bold {
  font-weight: bold;
}
.font-normal {
  font-weight: normal;
}
.font-bigger {
  font-size: 1.2em;
}
.font-big {
  font-size: 24px;
}

.cursor-pointer {
  cursor: pointer;
  padding: 15px;
}

.padding-15 {
  padding: 15px;
}
.padding-10 {
  padding: 10px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-5 {
  padding: 5px;
}

.border-bottom {
  .border(bottom, 1px, solid, @green)
}

.link:hover {
  color: @green;
}