.navbar {
    padding-left: ~"calc(100vw - 100%)";
    box-shadow: 0 3px 3px #c8c8c8;
    height: @navbarH;
    .container {
        height: 100%;
        width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &::before, &::after {
            display: none;
        }
    }
}

.user-menu {
    align-self: stretch;
    display: flex;
    align-items: center;
    ul {
        padding: 0;
        font-size: 18px;
        line-height: 24px;
        span {
            float: left;
        }
        a {
            padding: 8px 20px;
        }
    }
    .divider {
        margin: 0;
    }
    .dropdown-menu{
        top: @navbarH - 3px;
        left: -49px;
        *{
            text-align: center;
        }
    }
    .dropdown-toggle {
        display: table-cell;
        padding: 0;
        border-radius: 50%;
        overflow: hidden;
        .shadow-wrap(@blue);
    }
    &:hover .dropdown-menu {
        display: block;
    }
}
img.user-avatar {
    @h: 60px;
    width: @h;
    height: @h; 
}

.search-form {
    padding: 0;
    position: relative;
    span {
        position: absolute;
        left: 12px;
        top: 10px;
        font-size: 20px;
    }
    input[type="text"] {
        height: 40px;
        border-radius: 20px;
        width: 350px;
        padding-left: 44px;
        border-color: @green;
        font-size: 18px;
        &.form-control:focus {
            border-color: #66afe9;
        }
    }
    .intellisense {
        position: absolute;
        top: 41px;
        left: 20px;
        background-color: fade(@black, 80%);
        width: 310px;
        a {
            display: block;
            text-decoration: none;
            &:hover {
                background-color: @green;
                color: @white;
            }
            padding: 5px 10px;
            font-size: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.btn-publish {
    font-size: 21px;
    color: #f8f8f8 !important;
    background: #ffb300;
    box-shadow: 3px 3px 5px #ffa300;
    position: relative;
    transition: top 0.1s ease;
    &:active {
        box-shadow: none;
        top: 5px;
    }
    &:focus {
        outline: none;
    }
}

.logo-header {
    @l: 80px;
    padding: 30px 0;
    img {
        width: @l;
        height: @l;
    }
    h3 {
        font-family: '宋体';
        margin-top: 17px;
    }
}

.login, .register {
    padding: 30px 0;
    .text-white {
        font-family: @family;
    }
    .form-control {
        border-radius: 17px;
        text-align: center;
    }
}
.login-btn {
    font-size: 20px;
    padding: 8px 56px;
    border-radius: 23px;
    .hover-init(@orange);
    color: @orange !important;
}
.forget-password {
    .hover-init(@orange);
}
.register {
    .form-control {
        border-radius: 23px;
        font-size: 16px;
    }
}
.register-btn {
    font-family: 'KaiTi';
    font-size: 21px;
    padding: 8px 80px;
    border-radius: 24px;
    .hover-init(@red);
    &[disabled]:hover {
        color: inherit;
    }
}

.publish {
    padding: 30px 0;
    .sold-out {
        background: @gray;
    }
}

.img-list {
    padding: 0 15px;
    max-height: 150px;
    overflow: hidden
}