<div class="navbar bg-white navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h3 class="text-center text-green font-bold" ui-sref="goods.home">
                校内二手街<br>
                <small class="text-orange">最方便的校内二手市场</small>
            </h3>
        </div>
        <div class="navbar-form search-form">
            <span class="text-green glyphicon glyphicon-search"></span>
            <input type="text" ng-model="params.keyword" class="form-control" ng-keyup="vm.search($event)" placeholder="搜索">
            <ul class="intellisense" ng-if="vm.isShowFeedback">
                <li ng-repeat="good in vm.goods track by $index">
                    <a class="text-white" ng-click="params.keyword=null" ui-sref="goods.details({id: {{good._id}}})">{{good.title}}</a>
                </li>
            </ul>
        </div>
        <div uib-dropdown class="user-menu" ng-if="!!user">
            <a uib-dropdown-toggle>
                <img class="user-avatar" ng-src="{{user.avatar}}" alt="{{user.name}}">
            </a>
            <ul class="dropdown-menu bg-white" uib-dropdown-menu>
                <li ui-sref="owner.profile">
                    <a><span class="text-blue glyphicon glyphicon-user"></span>个人信息</a>
                </li>
                <li ui-sref="owner.collection">
                    <a><span class="text-orange glyphicon glyphicon-heart"></span>我的收藏</a>
                </li>
                <li ui-sref="owner.message">
                    <a><span class="text-green glyphicon glyphicon-envelope"></span>消息中心</a>
                </li>
                <li ng-click="vm.publish()">
                    <a><span class="text-orange iconfont icon-dianpu"></span>我要发布</a>
                </li>
                <li role="separator" class="divider"></li>
                <li ng-click="vm.logout()">
                    <a><span class="text-red glyphicon glyphicon-off"></span>退出</a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav font-bigger" ng-if="!user">
            <li ng-click="vm.login()" class="cursor-pointer text-green">登录</li>
            <li ng-click="vm.register()" class="cursor-pointer text-green">注册</li>
        </ul>
    </div>
</div>