<div class="page-content container">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="area padding-15 text-center">
            <button class="btn needs-btn" ui-sref="demand.list">前往需求列表</button>
        </div>
        <div class="area bg-white">
            <h4 class="text-green font-bold"><i class="glyphicon glyphicon-list-alt"></i> 推荐阅读</h4>
            <p class="read-content row clearfix">
                <span class="col-xs-6">
                    <a class="text-muted" ui-sref="reading.rules">商品发布规则</a>
                </span>
                <span class="col-xs-6">
                    <a class="text-muted" ui-sref="reading.iphone">购买二手iPhone注意事项</a>
                </span>
            </p>
        </div>
        <div class="area">
            <div class="area-header text-center">
                <h3 class="page-title-wrap">
                    <span class="page-title-content"><i class="iconfont icon-xin text-red page-title-icon"></i>最新上架</span>
                </h3>
            </div>
            <div class="row">
                <div ui-sref="goods.details({id: item._id})" class="col-xs-3" ng-repeat="item in vm.recentGoods">
                    <img-reset img-data="item"></img-reset>
                </div>
            </div>
        </div>
        <div class="area">
            <div class="area-header text-center">
                <h3 class="page-title-wrap">
                    <span class="page-title-content"><i class="iconfont icon-shoucangjia text-red page-title-icon"></i>收藏最多</span>
                </h3>
            </div>
            <div class="row">
                <div ui-sref="goods.details({id: item._id})" class="col-xs-3" ng-repeat="item in vm.collectedMostGoods">
                    <img-reset img-data="item"></img-reset>
                </div>
            </div>
        </div>
        <div class="area">
            <div class="area-header text-center">
                <h3 class="page-title-wrap">
                    <span class="page-title-content"><i class="iconfont icon-kejian text-red page-title-icon"></i>浏览最多</span>
                </h3>
            </div>
            <div class="row">
                <div ui-sref="goods.details({id: item._id})" class="col-xs-3" ng-repeat="item in vm.pvMostGoods">
                    <img-reset img-data="item"></img-reset>
                </div>
            </div>
        </div>
    </div>
</div>