<div class="page-content container">
    <div class="col-xs-9 col-xs-offset-1">
        <div class="area">
            <!--<div class="area-header">
                <ul class=" breadcrumb">
                    <li>
                        <a ng-href="#/goods?page=1&type={{vm.firstLevel.value}}" ng-bind="vm.firstLevel.name"></a>
                    </li>
                    <li ng-if="vm.secondLevel.name">
                        <a ng-bind="vm.secondLevel.name" ng-href="#/goods?page=1&type={{vm.firstLevel.value}}&subtype={{vm.secondLevel.value}}"></a>
                    </li>
                </ul>
            </div>-->
            <div class="area-header">
                <ul class="nav nav-pills">
                    <li role="presentation" ng-class="{active: params.sort == 'publishTime'}" ng-click="vm.sort('publishTime')">
                        <a>时间 &nbsp;<i ng-if="params.sort == 'publishTime'" class="glyphicon" ng-class="params.sort == 'publishTime'&&params.reduce==-1?'glyphicon-chevron-down':'glyphicon-chevron-up'"></i></a>
                    </li>
                    <li role="presentation" ng-class="{active: params.sort == 'price'}" ng-click="vm.sort('price')">
                        <a>价格 &nbsp;<i ng-if="params.sort == 'price'" class="glyphicon" ng-class="params.sort == 'price'&&params.reduce==-1?'glyphicon-chevron-down':'glyphicon-chevron-up'"></i></a>
                    </li>
                    <li role="presentation" ng-class="{active: params.sort == 'num'}" ng-click="vm.sort('num')">
                        <a>收藏 &nbsp;<i ng-if="params.sort == 'num'" class="glyphicon" ng-class="params.sort == 'num'&&params.reduce==-1?'glyphicon-chevron-down':'glyphicon-chevron-up'"></i></a>
                    </li>
                    <li role="presentation" ng-class="{active: params.sort == 'pv'}" ng-click="vm.sort('pv')">
                        <a>浏览 &nbsp;<i ng-if="params.sort == 'pv'" class="glyphicon" ng-class="params.sort == 'pv'&&params.reduce==-1?'glyphicon-chevron-down':'glyphicon-chevron-up'"></i></a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div ui-sref="goods.details({id: {{item._id}}})" class="col-xs-3" ng-repeat="item in vm.goods">
                    <img-reset img-data="item"></img-reset>
                </div>
            </div>
        </div>
        <pagination></pagination>
    </div>
</div>